@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif ;
}



span{
    color: orange;
}
a{
    transition: .2s;
    text-decoration: none;
    color: white;
    &:hover{
        scale: 1.1;
        letter-spacing: 1px;
    }
}
p{
    font-size: 16px;
}
body{
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    &::-webkit-scrollbar{
        box-shadow: 0px 25px 45px rgba(0,0,0,0.1);
        border: 1px solid rgba(255,255,255,0.5);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        border-right: 1px solid rgba(255,255,255,0.2);
        width: 7px;
    }
    &::-webkit-scrollbar-thumb{
        background: rgba(255, 253, 253,0.4);
        border-radius: 5px;
    }
    
    main{
        position: relative;
        width: 100%;
        height: 100%;
        
        h1{
            font-size: 30px;
            font-weight: bold;
        }
        position: relative;
        color: rgb(255, 255, 255);
        font-size: 13px;
        .bienvenida{
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 450px;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before{
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, .6);
            }
            .adorno{
                position: absolute;
                background: linear-gradient(to bottom, rgb(8, 196, 8, 0), rgb(255, 123, 0) 98%);
                width: 100%;
                height: 100px;
                bottom: 0;
            }
            img{
                position: absolute;
                width: 100%;
                z-index: -1;
                height: 100%;
                object-fit: cover;
            }
            .bienvenida_container{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 350px;
                width: 70%;
                color: white;
                gap: 28px;
                user-select: none;
                a{
                    background: rgb(209, 101, 0);
                    padding: 8px;
                    border-radius: 8px;
                }
            }
            
        }
        .nosotros{
            overflow: hidden;
            position: relative;
            height: auto;
            display: flex;
            align-items: center;
            min-height: 400px;
            padding: 30px;
            color: rgb(126, 68, 3);
            background: rgb(248, 231, 183);
            width: 100%;
            justify-content: center;
            font-weight: bolder;
            .adorno_top{
                top: -2px;
                position: absolute;
                background: linear-gradient(to top, rgb(8, 196, 8, 0), rgb(255, 123, 0) 98%);
                width: 100%;
                height: 50px;
            }
            .adorno_bottom{
                bottom: 0;
                position: absolute;
                background: linear-gradient(to bottom, rgb(8, 196, 8, 0), rgb(255, 123, 0) 80%);
                width: 100%;
                height: 50px;
            }

            .nosotros_content{
                padding: 0 0 0 70px;
                position: relative;
                justify-content: center;
                display: flex;
                flex-direction: column;
                width: 50%;
                gap: 10px;
            }
            .nosotros_img{
                padding: 0 50px 0 0;
                position: relative;
                height: auto;
                width: 50%;
                
            }
        }
        .menu{
            background: url(./img/FondoMenu3.jpg) ;
            
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            height: auto;
            h1{
                margin: 20px 20px 0px 20px;
                font-size: 40px;
            }
            .barra_menu{
                position: relative;
                padding: 20px 2px;
                align-items: center;
                justify-content: space-around;
                button{
                    color: white;
                    background: rgb(255, 115, 0);
                    border-radius: 5px;
                    width: 90px;
                    height: 60px;
                    font-weight: bold;
                    border: none;
                    outline: none;
                    border: 1px solid rgba(255,255,255,0.5);
                    border-right: 1px solid rgba(255,255,255,0.2);
                    border-bottom: 1px solid rgba(255,255,255,0.2);
                    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
                    backdrop-filter: blur(5px);
                    cursor: pointer;
                    transition: .2s;
                    &:hover{
                        background: rgb(65, 2, 2) ;
                    }
                }
            }

            h1{
                z-index: 5;
            }
            .adorno{
                
                position: absolute;
                background: linear-gradient(to top, rgb(8, 196, 8, 0), rgb(255, 123, 0) 98%);
                width: 100%;
                height: 150px;
                top: 0;     
            }
            .adorno_bottom{
                position: absolute;
                background: linear-gradient(to bottom, rgb(8, 196, 8, 0), rgb(231, 172, 62) 90%);
                width: 100%;
                height: 150px;
                bottom: 0; 
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                position: relative;
                justify-content: center;
                gap: 60px;
                height: auto;
                padding: 0px 0px 80px 0px;
                li{
                    padding: 10px;
                    position: relative;
                    width: 200px;
                    height: 290px;
                    overflow: hidden;
                    border-radius: 15px;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-right: 2px solid rgba(170, 111, 0, 0.2);
                    border-bottom: 2px solid rgba(255, 0, 0, 0.2);
                    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
                    backdrop-filter: blur(5px);
                    background: rgba(228, 177, 8, 0.1);
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 10px;
                    img{
                        position: relative;
                        width: 170px;
                        height: 170px;
                        transition: .2s;
                    }
                    h2{
                        font-size: 15px;
                        color: rgb(255, 255, 255);
                        font-weight: bolder;
                    }
                    .orange{
                        color: rgb(48, 23, 0);
                        font-weight: bolder;
                        font-size: 16px;
                        background: rgb(247, 149, 70);
                        padding: 3px 10px;
                        border-radius: 5px;
                    }
                    
                    &:hover{
                        img{
                            scale: 1.2;
                        }
                    }
                }
            }
        }
        .horario{
            background: url(./img/Fondo_Hora.jpg) 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: auto;
            min-height: 200px;
            align-items: center;
            padding: 50px;
            
            ul{
                list-style: none;
                li{
                    margin-top: 10px;
                    left: 0;
                }
            }
        }
        .rese_conta{
            background: url(/img/RESE_CONTA.jpg) 100%;
            background-size:cover;
            display: flex;
            position: relative;
            justify-content: space-around;
            height: auto;
            min-height: 250px;
            align-items: center;
            padding: 30px;
            gap: 20px;
            font-weight: bolder;
            .adorno_rese_conta{
                position: absolute;
                width: 100%;
                height: 100px;
                background: linear-gradient(to bottom, rgb(235, 180, 80) 25%, rgba(170, 137, 137,0) );
                top: 0;
            }
            &::before{
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, .5);
            }
            p{
                font-size: 15px;
                width: 70%;
                justify-content: center;
                align-items: center;
                display: flex;

            }
            .reservas{
                justify-content: flex-start;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                height: 150px;
                z-index: 5;
            }
            .contacto{
                justify-content: flex-start;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                height: 150px;
                z-index: 5;
                .WhatsApp{
                    background: green;
                    padding: 10px;
                    border-radius: 5px;
                    font-weight: bolder;
                }
            }
        }
    }
    header{
        z-index: 10;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        height: 50px;
        background: rgba(233, 132, 0, 0.9);
        color: white;
        font-size: 9px;
        user-select: none;
        h1{
            cursor: pointer;
            position: relative;
            width: 30%;
            transition: .2s;
            &:hover{
                scale: 1.1;
                letter-spacing: 1px;

            }
            
        }
        .sections{
            position: relative;
            width: 70%;
            display: flex;
            justify-content: space-between;
            margin-left: 5px;
            
        }
        
    }

}
