@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

span {
  color: orange;
}

a {
  transition: 0.2s;
  text-decoration: none;
  color: white;
}
a:hover {
  scale: 1.1;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
}
body::-webkit-scrollbar {
  box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(255, 253, 253, 0.4);
  border-radius: 5px;
}
body main {
  position: relative;
  width: 100%;
  height: 100%;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 13px;
}
body main h1 {
  font-size: 30px;
  font-weight: bold;
}
body main .bienvenida {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .bienvenida::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
body main .bienvenida .adorno {
  position: absolute;
  background: linear-gradient(to bottom, rgba(8, 196, 8, 0), rgb(255, 123, 0) 98%);
  width: 100%;
  height: 100px;
  bottom: 0;
}
body main .bienvenida img {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .bienvenida .bienvenida_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  width: 70%;
  color: white;
  gap: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body main .bienvenida .bienvenida_container .btn_bienvenida {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 100px;
}
body main .bienvenida .bienvenida_container .btn_bienvenida a {
  background: #ff1d0b;
  padding: 8px;
  border-radius: 8px;
}
body main .bienvenida .bienvenida_container .btn_bienvenida .bien_Whats {
  background: green;
}
body main .bienvenida .bienvenida_container .bien_unete {
  color: white;
  font-weight: bolder;
}
body main .bienvenida .bienvenida_container .logo_puerto {
  position: relative;
  top: 10px;
  left: 0;
  z-index: 1;
  height: 140px;
  width: 140px;
}
body main .bienvenida .bienvenida_container .bien_header {
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
body main .nosotros {
  overflow: hidden;
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  min-height: 400px;
  padding: 30px;
  color: rgb(126, 68, 3);
  background: rgb(248, 231, 183);
  width: 100%;
  justify-content: center;
  font-weight: bolder;
}
body main .nosotros .adorno_top {
  top: -2px;
  position: absolute;
  background: linear-gradient(to top, rgba(8, 196, 8, 0), rgb(255, 123, 0) 98%);
  width: 100%;
  height: 50px;
}
body main .nosotros .adorno_bottom {
  bottom: 0;
  position: absolute;
  background: linear-gradient(to bottom, rgba(8, 196, 8, 0), rgb(255, 123, 0) 80%);
  width: 100%;
  height: 50px;
}
body main .nosotros .nosotros_content {
  padding: 0 0 0 70px;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}
body main .nosotros .nosotros_img {
  padding: 0 50px 0 0;
  position: relative;
  height: auto;
  width: 50%;
}
body main .nosotros .ubic_img {
  border-radius: 15%;
  box-shadow: 0 0 10px rgb(255, 174, 0);
}
body main .menu {
  background: url(./img/FondoMenu3.jpg);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}
body main .menu h1 {
  margin: 20px 20px 0px 20px;
  font-size: 45px;
  font-weight: bolder;
}
body main .menu .barra_menu {
  position: relative;
  width: 100%;
  gap: 0;
  height: 130px;
}
body main .menu .barra_menu button {
  position: relative;
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
}
body main .menu .barra_menu .activebtn, body main .menu .barra_menu button:hover {
  background-color: #ff1d0b;
  color: white;
}
body main .menu h1 {
  z-index: 5;
}
body main .menu .adorno {
  position: absolute;
  background: linear-gradient(to top, rgba(8, 196, 8, 0), rgb(255, 123, 0) 98%);
  width: 100%;
  height: 150px;
  top: 0;
}
body main .menu .adorno_bottom {
  position: absolute;
  background: linear-gradient(to bottom, rgba(8, 196, 8, 0), rgb(139, 105, 41) 90%);
  width: 100%;
  height: 150px;
  bottom: 0;
}
body main .menu ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  gap: 50px;
  height: auto;
  padding: 0px 0px 80px 0px;
}
body main .menu ul li {
  padding: 10px;
  position: relative;
  width: 200px;
  height: 290px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(170, 111, 0, 0.2);
  border-bottom: 2px solid rgba(255, 0, 0, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(177, 82, 4, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
body main .menu ul li img {
  position: relative;
  width: 170px;
  height: 170px;
  transition: 0.2s;
}
body main .menu ul li h2 {
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}
body main .menu ul li h2:nth-child(1), body main .menu ul li h2:nth-child(2), body main .menu ul li h2:nth-child(3) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
body main .menu ul li .orange {
  position: relative;
  color: rgb(48, 23, 0);
  font-weight: bolder;
  font-size: 16px;
  padding: 3px 10px;
  width: 100%;
  align-items: center;
}
body main .menu ul li .orange::before {
  border-radius: 5px;
  z-index: -1;
  content: "";
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(251, 255, 0);
}
body main .menu ul li:hover img {
  scale: 1.2;
}
body main .horario {
  background: url(./img/Fondo_Hora.jpg) 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  min-height: 200px;
  align-items: center;
  padding: 50px;
  position: relative;
}
body main .horario::after {
  z-index: 1;
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
body main .horario ul {
  list-style: none;
}
body main .horario ul li {
  margin-top: 10px;
  left: 0;
}
body main .horario h1, body main .horario h3 {
  z-index: 5;
}
body main .rese_conta {
  background: url(/img/RESE_CONTA.jpg) 100%;
  background-size: cover;
  display: flex;
  position: relative;
  justify-content: space-around;
  height: auto;
  min-height: 250px;
  align-items: center;
  padding: 30px;
  gap: 20px;
  font-weight: bolder;
}
body main .rese_conta .adorno_rese_conta {
  position: absolute;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgb(139, 105, 41) 25%, rgba(170, 137, 137, 0));
  top: 0;
}
body main .rese_conta::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
body main .rese_conta p {
  font-size: 15px;
  width: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
}
body main .rese_conta .reservas {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 150px;
  z-index: 5;
}
body main .rese_conta .contacto {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 150px;
  z-index: 5;
}
body main .rese_conta .contacto .WhatsApp {
  background: green;
  padding: 10px;
  border-radius: 5px;
  font-weight: bolder;
}
body header {
  z-index: 10;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  height: 50px;
  background: #ff1d0b;
  color: white;
  font-size: 11px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body header h1 {
  cursor: pointer;
  position: relative;
  width: 30%;
  transition: 0.2s;
}
body header h1:hover {
  scale: 1.1;
  letter-spacing: 1px;
}
body header .sections {
  position: relative;
  width: 55%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  h2 {
    font-size: 14px;
  }
  h1 {
    font-size: 20px;
  }
  body main .bienvenida .bienvenida_container {
    font-size: 1px;
  }
  body main .bienvenida .bienvenida_container h1 {
    font-size: 24px;
  }
  body main .bienvenida .bienvenida_container p {
    font-size: 14px;
  }
  body main .bienvenida .bienvenida_container .btn_bienvenida {
    gap: 40px;
  }
  body main .nosotros {
    justify-content: space-around;
    padding: 0 10px;
    margin: 0;
    height: auto;
  }
  body main .nosotros .nosotros_content {
    padding: 0;
  }
  body main .nosotros .nosotros_content h1 {
    font-size: 18px;
  }
  body main .nosotros .nosotros_content p {
    font-size: 13px;
  }
  body main .nosotros .ubic_img {
    width: 210px;
    height: 210px;
  }
  body main .menu h1 {
    font-size: 30px;
  }
  body main .menu .barra_menu {
    height: 140px;
  }
  body main .menu .barra_menu button {
    font-size: 12px;
  }
  body main .menu .cajamenu li {
    width: 170px;
    height: 240px;
  }
  body main .menu .cajamenu li img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 420px) {
  h2 {
    font-size: 14px;
  }
  h1 {
    font-size: 20px;
  }
  body main .bienvenida .bienvenida_container {
    font-size: 1px;
  }
  body main .bienvenida .bienvenida_container h1 {
    font-size: 19px;
  }
  body main .bienvenida .bienvenida_container .logo_puerto {
    width: 100px;
    height: 100px;
  }
  body main .bienvenida .bienvenida_container p {
    font-size: 13px;
  }
  body main .bienvenida .bienvenida_container .btn_bienvenida {
    gap: 40px;
  }
  body main .nosotros {
    justify-content: space-around;
    padding: 0 10px;
    margin: 0;
    height: auto;
  }
  body main .nosotros .nosotros_content {
    padding: 0;
  }
  body main .nosotros .nosotros_content h1 {
    font-size: 18px;
  }
  body main .nosotros .nosotros_content p {
    font-size: 13px;
  }
  body main .nosotros .ubic_img {
    width: 210px;
    height: 210px;
  }
  body main .menu h1 {
    font-size: 30px;
  }
  body main .menu .barra_menu {
    height: 140px;
  }
  body main .menu .barra_menu button {
    font-size: 12px;
  }
  body main .menu .cajamenu {
    gap: 30px;
  }
  body main .menu .cajamenu li {
    width: 150px;
    height: 245px;
  }
  body main .menu .cajamenu li img {
    width: 120px;
    height: 120px;
  }
  body main .menu .cajamenu li .orange::before {
    left: 5px;
  }
  body main .menu .cajamenu li h2 {
    font-size: 15px;
  }
  body header h1 {
    font-size: 16px;
  }
  body header h2 {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */